importFrom(Rcpp, sourceCpp)
useDynLib(apm, .registration = TRUE)

importFrom(data.table,as.data.table)
importFrom(data.table,setcolorder)
importFrom(data.table,setorder)
importFrom(data.table,setorderv)
importFrom(data.table,setkey)
importFrom(data.table,setDTthreads)
importFrom(R6,R6Class)
importFrom(parallel,detectCores)
export(get_version)
export(align_factors_using_apm)
export(compute_aggregated_projection_matrix)
export(aggregate_cohort_specific_covariate_coefs)
export(aggregate_cohort_specific_outcome_fes)
export(impute_outcomes_from_obs_outcomes)
export(impute_outcomes_across_cohorts_from_obs_outcomes)
export(comp_imputation_components)
export(estimate_outcome_means_across_cohorts)
export(OutcomeMeansEstimates)
export(aggregate_factor_model_params)
export(est_target_param_components)
export(o3_algorithm)
export(aligned_factors_identified)
export(summarize_identification)
export(construct_cohorts_from_panel)
export(construct_cohort_observed_outcomes_df)
export(UnbalancedPanel)
export(set_apm_threads)
export(WeightedBootstrap)
export(get_weighted_bootstrap_draws)
export(SimultaneousInferenceResults)
export(get_bootstrap_inference)
export(target_param_inference)
export(combine_inference_results_across_specs)
export(get_cpp_default_concurrency)
export(est_cohort_specific_params)
export(impute_outcomes_across_cohorts)
export(PCEstimator)
export(PCEstimatorWithFEs)
export(PCBase)
export(TWFEEstimator)
export(FactorModelEstimator)
export(FactorModelEstimates)
export(OutcomeMeanSuffStatEstimator)
export(OutcomeMeanSuffStatEstimates)
export(CohortWeightEstimates)
export(CohortAuxiliaryDataMeanEstimates)
export(est_target_params)
export(TargetParameterEstimates)
export(get_target_param_diff_ests)
export(combine_target_param_ests)
export(est_fgw_bipartite_match_outcome_diff_params)
export(est_avg_fgw_bipartite_match_outcome_diff_params)
export(est_masked_outcome_mean_err_metrics)
export(comp_outcome_clustering)
export(comp_outcome_clusterings)
export(combine_outcomes_into_new_cohorts)
export(get_largest_super_cohort)
export(count_outcomes_with_rank_overlap_per_cohort)