importFrom(Rcpp, sourceCpp)
useDynLib(apm, .registration = TRUE)

importFrom(data.table,as.data.table)
importFrom(data.table,setorder)
importFrom(data.table,setDTthreads)
importFrom(R6,R6Class)
importFrom(parallel,detectCores)
export(get_version)
export(align_factors_using_apm)
export(aggregate_cohort_specific_covariate_coefs)
export(aggregate_cohort_specific_outcome_fes)
export(impute_outcomes)
export(estimate_outcome_means_across_cohorts)
export(o3_algorithm)
export(aligned_factors_identified)
export(construct_cohorts_from_panel)
export(UnbalancedPanel)
export(set_apm_threads)
export(WeightedBootstrap)
export(get_weighted_bootstrap_draws)
export(est_cohort_specific_params)
export(get_weighted_bootstrap_ptr_cpp)
export(wb_n_obs_cpp)
export(wb_n_bootstraps_cpp)
export(wb_draw_cpp)
export(wb_obs_cpp)
export(wb_obs_rows_cpp)
export(wb_weights_cpp)
export(PCEstimator)
export(PCEstimatorWithFEs)
export(PCBase)
export(FactorModelEstimator)
export(FactorModelEstimates)
export(pc_estimator_new_cpp)
export(pc_fe_estimator_new_cpp)
export(estimator_add_data_cpp)
export(estimator_add_datum_cpp)
export(estimator_r_cpp)
export(estimator_Tc_cpp)
export(estimator_q_cpp)
export(estimator_B_cpp)
export(estimator_estimate_cpp)
export(fme_has_bootstrap_cpp)
export(fme_num_bootstrap_cpp)
export(fme_has_g0_cpp)
export(fme_has_a_cpp)
export(fme_point_G_cpp)
export(fme_point_g0_cpp)
export(fme_point_a_cpp)
export(fme_boot_G_cpp)
export(fme_boot_g0_cpp)
export(fme_boot_a_cpp)
export(OutcomeMeanSufficientStatEstimates)
export(outcome_suff_from_data_cpp)
export(omsse_has_bootstrap_cpp)
export(omsse_num_bootstrap_cpp)
export(omsse_point_has_covar_means_cpp)
export(omsse_point_Tc_cpp)
export(omsse_point_T_cpp)
export(omsse_point_q_cpp)
export(omsse_point_observed_means_cpp)
export(omsse_point_covar_means_cpp)
export(omsse_boot_observed_means_cpp)
export(omsse_boot_covar_means_cpp)